<div class="row my-5 p-5">
	<div class="col-md-6">
		<h2 class="text-center">¡Tareas no completadas!</h2>
		<% @no_completos.each do |todo| %>
			<div class="card p-3 m-4 bg-secondary">
				<div class="card-title bg-dark text-light font-weight-bold text-center"><%= todo.description %> </div>
				<div class="card-body text-center btn btn-danger"><%= todo.completed %> </div>
			</div>	
		<% end %>
	</div>

	<div class="col-md-6">
		<h2 class="text-center">¡Tareas completadas!</h2>
		<% @completos.each do |todo| %>
			<div class="card p-3 m-4 bg-secondary">
				<div class="card-title bg-dark text-light font-weight-bold text-center"><%= todo.description %> </div>
				<div class="card-body text-center btn btn-success"><%= todo.completed %> </div>
			</div>	
		<% end %>
	</div>
	
</div>